<form (ngSubmit)="sendSimulation()">
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label for="inlineFormSimName">Simulation Name</label>
      <input type="text" class="form-control" id="inlineFormSimName" placeholder="Type Name" [(ngModel)]="modelSim.name" name="simulationName"/>
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormPopulationName">No. of Population</label>
      <input type="number" class="form-control" id="inlineFormPopulationName"  [(ngModel)]="modelSim.population" name="population"/>
    </div>
    <div class="col-sm-3 my-1">
      <label for="inlineFormInfectionName">No. of Infected</label>
      <input type="number" class="form-control" id="inlineFormInfectionName" [(ngModel)]="modelSim.infected" name="infected"/>
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormRfactorName">R - Factor</label>
      <input type="number" class="form-control" id="inlineFormRfactorName" name="rfactor" [(ngModel)]="modelSim.rfactor" />
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormMortalityName">Mortality Index</label>
      <input type="number" class="form-control" id="inlineFormMortalityName"name="mortality" [(ngModel)]="modelSim.mortality"/>
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormHealName">Days To Heal</label>
      <input type="number" class="form-control" id="inlineFormHealName"name="daysToHeal" [(ngModel)]="modelSim.daysToHeal"/>
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormDieName">Days To Die</label>
      <input type="number" class="form-control" id="inlineFormDieName"  name="daysToDie" [(ngModel)]="modelSim.daysToDie"/>
    </div>
    <div class="col-sm-3 my-1">
      <label  for="inlineFormSimulationName">Simulation Days</label>
      <input type="number" class="form-control" id="inlineFormSimulationName"  name="daysOfSimulation" [(ngModel)]="modelSim.daysToSimulate"/>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
