<div class="container-custom">
  <!--  content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Sliders Menu -->
    <div class="col-md-3 ">
      <div class="custom-slider">
        <!-- Sliders List -->
        <p ><b>No. of Population</b>
        <ngx-slider  [(value)]="outputData.population" (userChange)="updateSimulation()" [options]="{
                                                                                            floor: 0,
                                                                                            ceil: 10000,
                                                                                            step: 1,
                                                                                            showSelectionBar: true}" ></ngx-slider>
        </p>
        <p><b>No. of Infected</b>
          <ngx-slider [(value)]="outputData.infected" (userChange)="updateSimulation()" [options]=" {
                                                                                            floor: 0,
                                                                                            ceil: this.outputData.population,
                                                                                            step: 1,
                                                                                            showSelectionBar: true}"></ngx-slider>
        </p>
        <p><b>R- Factor</b>
          <ngx-slider [(value)]="outputData.reproductionNumber" (userChange)="updateSimulation()" [options]="{
                                                                                                    floor: 0,
                                                                                                    step: 1,
                                                                                                    ceil: 100,
                                                                                                    showSelectionBar: true}"></ngx-slider>
        </p>
        <p><b>Mortality Index</b>
          <ngx-slider [(value)]="outputData.mortalityIndex" (userChange)="updateSimulation()" [options]="{
                                                                                                floor: 0,
                                                                                                step: 0.1,
                                                                                                ceil: 1,
                                                                                                showSelectionBar: true}"></ngx-slider>
        </p>
        <p><b>Days To Heal</b>
          <ngx-slider [(value)]="outputData.daysToHeal" (userChange)="updateSimulation()" [options]="{
                                                                                                floor: 0,
                                                                                                step: 1,
                                                                                                ceil: 100,
                                                                                                showSelectionBar: true}"></ngx-slider>
        </p>
        <p><b>Days To Die</b>
          <ngx-slider  [(value)]="outputData.daysToDie" (userChange)="updateSimulation()" [options]="{
                                                                                              floor: 0,
                                                                                              step: 1,
                                                                                              ceil: 100,
                                                                                              showSelectionBar: true}"></ngx-slider>
        </p>
        <p><b>Simulation Days</b>
          <ngx-slider [(value)]="outputData.daysToSimulate" (userChange)="updateSimulation()" [options]="{
                                                                                                floor: 0,
                                                                                                step: 1,
                                                                                                ceil: 360,
                                                                                                showSelectionBar: true}"></ngx-slider>
        </p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <!-- Graph Panel -->
    <div class="col-md-8">
          <div class="row">
            <app-graph [outputData] = outputData >  </app-graph>
      </div>
    </div>
  </div>
</div>
